$ac-green-50: #E6F3E0;
$ac-green-100: #C3E2B5;
$ac-green-200: #9ED189;
$ac-green-300: #76BE59;
$ac-green-400: #59B036;
$ac-green-500: #3DA313;
$ac-green-600: #379411;
$ac-green-700: #31840F;

$ac-blue-50: #DEE6F0;
$ac-blue-100: #B0C4DC;
$ac-blue-200: #80A0C6;
$ac-blue-300: #4C79AF;
$ac-blue-400: #265C9E;
$ac-blue-500: #01408D;
$ac-blue-600: #003A80;
$ac-blue-700: #003472;
$ac-blue-800: #002D64;
$ac-blue-900: #002149;

$brand-primary: $ac-blue-400 !default;
$brand-primary-hover: $ac-blue-50 !default;
$brand-success: $ac-green-400 !default;
$brand-danger: #E53935;
$brand-warning: #FFB300;
$brand-info: #387EF5;

$table-left-offset: 22px;

html, section {
  background: #f3f3f3;
}

body {
    background: #f3f3f3 !important;
    padding-top: 70px;
    padding-bottom: 30px;
}

hr {
    @media(max-width:768px){
        margin : {
            top: 25px !important;
            bottom: 10px !important;
        }
    }
    margin : {
        top: 75px !important;
        bottom: 10px !important;
    }
    border-top: 0px solid #eee !important;
}

a.navbar-brand {
  height: 75px;
  img {
    height: 90%;
  }
}

i.fa-times-circle {
    color: red;
}

hr.nofloatingbutton {
    margin-top: 55px !important;
}

div.navbar-header {
    @media(max-width:583px) {
        a.navbar-brand {
            padding-left: 20px;
            padding-right: 0px;
        }
    }
    button {
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    height: 75px;
}

nav.navbar {
  min-height: 75px;
  background: #f3f3f3;
  li {
    display: block;
    height: 75px;
    margin: auto 0px;
    float: left;
    text-align: center;
    line-height: 75px;
  }
  a {
    line-height: 75px;
    // margin-top: 15px;
    padding: auto 0px;
    text-align: center;
    color: black !important;
  }
  .navbar-right {
    padding-right: 25px;
    a {
    line-height: 50px;
    padding: auto 0px;
    text-align: center;
    color: black !important;
    }
    li {
      a.active {
        background-color: #000000 tranparent;
        font-weight:600;
      }
    }
  }
  border : {
    bottom: 0px solid #000;
  }
}

section.banner {
  background : {
    size: cover;
    position: center;
  }
  border : {
    top: 1px solid #666666;
    bottom: 1px solid #666666;
  }
  margin-top: 5px;
  height: 400px;
}

section.container {
  padding : {
    left: 0px;
    right: 0px;
  }
  margin : {
    left: 0px;
    right: 0px;
  }
  width: 100%;
}

section.fillpage {
    position: absolute;
    top: 500px;
    bottom: 0px;
    width: 100%;
    background-color: transparent;
    @media(min-width:768px){
        top: 450px;
    }
}

div.col-sm-12 embed {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 2100px;
    text-align: center;
}

div.panel.panel-default {
    max-width: none !important;
    margin-bottom: 25px;
}

table {
    tr {
        th {
            &:first-child {
                padding-left: $table-left-offset !important;
            }
        }
        td {
            &:first-child {
                padding-left: $table-left-offset !important;
            }
        }
    }
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div {
    h2 {
        margin-top: 15px;

    }
}

h2 {
    @media(min-width:1200px){
        margin-bottom: 25px !important;
    }
}

div.bottom {
    padding-bottom: 85px;
    @media(max-width:768px){
        padding-bottom: 0px;
    }
}

div.col-sm-4.bottomright {
    @media(max-width:768px){
        padding-bottom: 45px;
    }
}

.embed-container {
   height: 1500px;
   padding-bottom: 3%; /* play with this until right */
   @media(max-width:1200px){
       height: 1250px;
       padding-bottom: 7%; /* play with this until right */
   }
   @media(max-width:768px){
       height: 650px;
       padding-bottom: 12%; /* play with this until right */
   }
   width: 100%;
   pointer-events: none;
   overflow: hidden;
   position: relative;
}

h2.hidemobile {
    @media(max-width:768px){
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
}

blockquote.pagebottom {
    margin-bottom: 5%;
}

.embed-container iframe {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.requestquote {
  background-color: lightgrey;
  color: black;
  position: absolute;
  top: 0px;
  @media(max-width:768px){
      top: -50px;
  }
  left: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  &:hover{
    background-color: #404040;
    color: white;
    text-decoration: none;
  }
}

h1.pagetitle {
  color: black;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 65px;
}

contactinfo {
  color: black;
  width: 100%;
  text-align: center;
  display: block;
  // vertical-align: middle;
}

nav.footer {
  color: white;
  font-size: 10px;
  height: 5px !important;
  min-height: 30px;
  text-align: center;
  padding: 7px 0;
  vertical-align: middle;
  background-color: black;
}

.hidden {
    display: none;
}
.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}
.panel.panel-default {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.message {
    padding: 15px;
    margin: 0;
}

form.form-horizontal {
    padding-bottom: 40px !important;
    @media(max-width:768px){
        padding-bottom:0px !important
    }
}
