$ac-green-50: #E6F3E0;
$ac-green-100: #C3E2B5;
$ac-green-200: #9ED189;
$ac-green-300: #76BE59;
$ac-green-400: #59B036;
$ac-green-500: #3DA313;
$ac-green-600: #379411;
$ac-green-700: #31840F;

$ac-blue-50: #DEE6F0;
$ac-blue-100: #B0C4DC;
$ac-blue-200: #80A0C6;
$ac-blue-300: #4C79AF;
$ac-blue-400: #265C9E;
$ac-blue-500: #01408D;
$ac-blue-600: #003A80;
$ac-blue-700: #003472;
$ac-blue-800: #002D64;
$ac-blue-900: #002149;

$brand-primary: $ac-blue-400 !default;
$brand-primary-hover: $ac-blue-50 !default;
$brand-success: $ac-green-400 !default;
$brand-danger: #E53935;
$brand-warning: #FFB300;
$brand-info: #387EF5;

html {
  background: #f3f3f3;
}

body {
  padding-top: 70px;
}

.navbar-brand {
  img {
    width: 40%;
  }
}

nav.navbar {
  height: 75px;
  background: #f3f3f3;
  li {
    display: block;
    height: 75px;
    margin: auto 0px;
    float: left;
    text-align: center;
    line-height: 75px;
  }
  a {
    line-height: 75px;
    // margin-top: 15px;
    padding: auto 0px;
    text-align: center;
    color: black !important;
  }
  .navbar-right {
    padding-right: 25px;
    a {
    line-height: 50px;
    padding: auto 0px;
    text-align: center;
    color: black !important;
    }
    li {
      a.active {
        background-color: #000000 tranparent;
        font-weight:600;
      }
    }
  }
  border : {
    bottom: 0px solid #000;
  }
}

section.banner {
  background : {
    image: url(../resources/banner.jpeg);
    size: cover;
    position: center;
  }
  border : {
    top: 1px solid #666666;
  }
  margin-top: 5px;
  height: 400px;
}

section.container {
  padding : {
    left: 0px;
    right: 0px;
  }
  margin : {
    left: 0px;
    right: 0px;
  }
  width: 100%;
}

.requestquote {
  background-color: lightgrey;
  color: black;
  position: absolute;
  left: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  bottom: -25px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  &:hover{
    background-color: #404040;
    color: white;
    text-decoration: none;
  }
}

section.footer {
  color: white;
  font-size: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  vertical-align: middle;
  background-color: black;
}
