html, section {
  background: #f3f3f3; }

body {
  background: #f3f3f3 !important;
  padding-top: 70px;
  padding-bottom: 30px; }

hr {
  margin-top: 45px !important;
  margin-bottom: 10px !important;
  border-top: 0px solid #eee !important; }
  @media (max-width: 768px) {
    hr {
      margin-top: 25px !important;
      margin-bottom: 10px !important; } }

a.navbar-brand {
  height: 75px; }
  a.navbar-brand img {
    height: 90%; }

div.navbar-header {
  height: 75px; }
  @media (max-width: 583px) {
    div.navbar-header a.navbar-brand {
      padding-left: 20px;
      padding-right: 0px; } }
  div.navbar-header button {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0px; }

nav.navbar {
  min-height: 75px;
  background: #f3f3f3;
  border-bottom: 0px solid #000; }
  nav.navbar li {
    display: block;
    height: 75px;
    margin: auto 0px;
    float: left;
    text-align: center;
    line-height: 75px; }
  nav.navbar a {
    line-height: 75px;
    padding: auto 0px;
    text-align: center;
    color: black !important; }
  nav.navbar .navbar-right {
    padding-right: 25px; }
    nav.navbar .navbar-right a {
      line-height: 50px;
      padding: auto 0px;
      text-align: center;
      color: black !important; }
    nav.navbar .navbar-right li a.active {
      background-color: #000000 tranparent;
      font-weight: 600; }

section.banner {
  background-image: url(../resources/banner.jpeg);
  background-size: cover;
  background-position: center;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  margin-top: 5px;
  height: 400px; }

section.container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%; }

section.fillpage {
  position: absolute;
  top: 500px;
  bottom: 0px;
  width: 100%;
  background-color: transparent; }
  @media (min-width: 768px) {
    section.fillpage {
      top: 450px; } }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

div h2 {
  margin-top: 15px; }

@media (min-width: 1200px) {
  h2 {
    margin-bottom: 25px !important; } }

div.bottom {
  padding-bottom: 85px; }
  @media (max-width: 768px) {
    div.bottom {
      padding-top: 5px;
      padding-bottom: 25px; } }

.requestquote {
  background-color: lightgrey;
  color: black;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700; }
  @media (max-width: 768px) {
    .requestquote {
      top: -50px; } }
  .requestquote:hover {
    background-color: #404040;
    color: white;
    text-decoration: none; }

h1.pagetitle {
  color: black;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 65px; }

contactinfo {
  color: black;
  width: 100%;
  text-align: center;
  display: block; }

 

nav.footer {
  color: white;
  font-size: 10px;
  height: 5px !important;
  min-height: 30px;
  text-align: center;
  padding: 7px 0;
  vertical-align: middle;
  background-color: black; }

.hidden {
  display: none; }

.vertical-middle {
  display: table-cell;
  vertical-align: middle; }

.panel.panel-default {
  max-width: 500px;
  width: 100%;
  margin: 0 auto; }

.message {
  padding: 15px;
  margin: 0; }

/*# sourceMappingURL=app.css.map */
