<div class="col-md-12 banner" back-img="../resources/banner0-bw-min.jpg">
  <a class="requestquote" ui-sref="index.quote">Request A Quote</a>
</div>

<div class="container">
  <div class="col-sm-8" style="padding-right: 30px;">
      <h2>What We Do</h2>
      <div style="padding-left: 3px;">
          <p>AeroRand is a leading stocking distributor of aircraft fastening hardware for military and commercial aerospace applications.</p>
          <p>At AeroRand we specialize in AN-MS-NAS hardware and fasteners.  We find the hard to source items and stock a wide variety of products for our customers. Our sales team understands the high demands of the current Aerospace industry, that is why we build relationships to tailor our service to meet your unique needs.</p>
          <p>For a comprehensive list of our capabilities please visit our <a ui-sref="index.products">Products</a> page or email us for your specific requirements.</p>
      </div>
  </div>
  <div class="col-sm-4 bottom">
      <h2>Contact Us</h2>
      <address style="padding-left: 3px;">
          <strong>AeroRand</strong>
          <br>7000 N. 16<sup>th</sup> St., #120-464
          <br>Phoenix, AZ 85020
          <br>
      </address>
      <address style="padding-left: 3px;">
          Phone: <a href="tel:+1-602-277-5632">(602) 277-5632</a>
          <br>
          <br>
          Sales Department: <a class="indent" href="mailto:rfq@aerorand.com">RFQ@aerorand.com</a>
          <br>
          Accounts Payable: <a class="indent" href="mailto:AP@aerorand.com">AP@aerorand.com</a>
          <br>
          Accounts Receivable: <a class="indent" href="mailto:AR@aerorand.com">AR@aerorand.com</a>
      </address>
  </div>
</div>
