<!-- Site Container-->
<section>
	<!-- Header -->
	<section>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
		      	<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
					<a href="#" class="navbar-left">
						<img class="img-responsive" alt="{{app.title}}" src="../../resources/logo.gif">
					</a>
					<!-- <a class="navbar-brand" ui-sref="index.home"><img alt="AeroRand" ng-src="resources/logo.png"></a> -->
					<a class="navbar-brand" href="#" style="font-size: 32px; line-height: 50px;">AeroRand</a>
		    </div>

		    <div class="collapse navbar-collapse" id="top-nav-collapse">
  		    <ul class="nav navbar-nav navbar-right">
		        <li><a ui-sref="index.home" ui-sref-active="active">Home</a></li>
		        <li><a ui-sref="index.products" ui-sref-active="active">Products</a></li>
				<li><a ui-sref="index.linecard" ui-sref-active="active">Digital Line Card</a></li>
				<li><a ui-sref="index.inventory" ui-sref-active="active">Inventory</a></li>
				<li><a ui-sref="index.contact" ui-sref-active="active">Contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</section>

	<!-- Content -->
	<section data-ui-view></section>

	<!-- Footer -->
	<nav class="navbar navbar-default navbar-fixed-bottom footer">
	  <div class="container">
	    AeroRand. 2016. All Rights Reserved.
	  </div>
	</nav>
</section>
