<section class="col-md-12 banner" back-img="../resources/banner2-bw-min.jpg">
  <!-- <a class="requestquote" ui-sref="index.quote" ng-hide="$state.includes('index.quote')">Request A Quote</a> -->
</section>

<section class="fillpage">
    <div class="container">
        <a class="requestquote" ui-sref="index.quote" ng-hide="$state.includes('index.quote')" href="#!/quote">Request A Quote</a>
        <hr>
        <div class="col-sm-12">
            <hr>
        </br>
            <h3 class="text-center">coming soon...</h3>
        </div>
    </div>
</section>
