<div class="col-md-12 banner" back-img="../resources/banner9-bw-min.jpg">
  <a class="requestquote" ui-sref="index.quote">Request A Quote</a>
</div>

<div class="container">
    <div class="col-sm-12">
        <hr>
        <div class="embed-container" >
            <object data="resources/Line Card.pdf" style="width: 100%; height: 100%; display: block;"></object>
        </div>
        <blockquote class="pagebottom">
            <p>Having trouble viewing this document? <a href="resources/Line Card.pdf">Click here to download as a PDF.</a></p>
        </blockquote>
    </div>
</div>
