<section class="col-md-12 banner" back-img="../resources/banner1-bw-min.jpg">
  <!-- <a class="requestquote" ui-sref="index.quote" ng-hide="$state.includes('index.quote')">Request A Quote</a> -->
</section>

<section class="fillpage">
    <div class="container">
        <a class="requestquote" ui-sref="index.quote" ng-hide="$state.includes('index.quote')" href="#!/quote">Request A Quote</a>
        <hr>
        <h3 style="padding-bottom: 15px;">We provide over 100,000 line items. <small>Below is a list of just some of the types of fasteners and hardware we can provide.</small></h3>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Products include:</div>

                    <!-- Table -->
                    <table class="table table-striped table-bordered table-responsive">
                        <thead class="thread-default">
                            <tr>
                                <th style="width: 20%">Screws</th>
                                <th style="width: 20%">Bolts</th>
                                <th style="width: 20%">Washers</th>
                                <th style="width: 20%">Nuts</th>
                                <th style="width: 20%">Connectors</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Wood screws</td>
                                <td>Eye bolts</td>
                                <td>Flat washers</td>
                                <td>Hex nuts</td>
                                <td>Solid Rivets</td>
                            </tr>
                            <tr>
                                <td>Machine screws</td>
                                <td>Eye lags</td>
                                <td>Fender washers</td>
                                <td>Heavy hex nuts</td>
                                <td>Blind rivets</td>
                            </tr>
                            <tr>
                                <td>Thread cutting machine screws</td>
                                <td>j-bolts</td>
                                <td>Finishing washers</td>
                                <td>Nylon insert locks</td>
                                <td>Nutplates</td>
                            </tr>
                            <tr>
                                <td>Sheet metal screws</td>
                                <td>u-bolts</td>
                                <td>Split washers</td>
                                <td>Jam nuts</td>
                                <td>Gang Channels</td>
                            </tr>
                            <tr>
                                <td>Self-drilling SMS</td>
                                <td>shoulder bolts</td>
                                <td>External tooth lock washers</td>
                                <td>Nylon insert jam lock nuts</td>
                                <td>Spacres</td>
                            </tr>
                            <tr>
                                <td>Hex bolts</td>
                                <td>elevator bolts</td>
                                <td>Internal tooth lock washers</td>
                                <td>Wing nuts</td>
                                <td>Bearings</td>
                            </tr>
                            <tr>
                                <td>Carriage bolts</td>
                                <td>barrel nuts</td>
                                <td>Square washers</td>
                                <td>Cap nuts</td>
                                <td>Panel lock fastners</td>
                            </tr>
                            <tr>
                                <td>Lag bolts</td>
                                <td>Chicago bolts</td>
                                <td>Dock washers</td>
                                <td>Acorn nuts</td>
                                <td>Adhesives and tapes</td>
                            </tr>
                            <tr>
                                <td>Socket screws</td>
                                <td>Mating screws</td>
                                <td>Ogee washers</td>
                                <td>Flange nuts</td>
                                <td>O-Rings or packing</td>
                            </tr>
                            <tr>
                                <td>Set screws</td>
                                <td>Hanger bolts</td>
                                <td>Sealing washers</td>
                                <td>Tee nuts</td>
                                <td>Pins</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td></td>
                                <td>Square nuts</td>
                                <td>Retaining Rings</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Prevailing torque lock nuts</td>
                                <td>Collars</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>k-lock or kep nuts</td>
                                <td>Bushings</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>coupling nuts</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>slotted nuts</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>castle nuts</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <blockquote>
                    <p>Looking for something else? <a ui-sref="index.contact">Contact us</a> or visit our <a ui-sref="index.linecard">Digital Line Card</a></p>
                </blockquote>
                <hr>
            </div>
        </div>
    </div>
</section>
